.img{
  float: left;
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
.img-box1{
  background: url('../img/01.jpg');
}
.img-box2{
  background: url('../img/02.jpg');
}
.img-box3{
  background: url('../img/03.jpg');
}